<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css" />
  <title>WAR!</title>
</head>

<body>
  <h1> WAR!</h1>
  <div id="app">
    <div v-if="beginning">
      <p>
        Welcome to WAR! In this game, cards will show from two decks. The higher card "kills" the other, and the loser is thrown away. The winning card returns to the bottom of its deck.
        <br> If there is a tie, both cards die! When a deck runs out of cards, it loses! When you're ready to rumble, click Start!
        <br>
        <br>
        <button v-on:click="startDecks">Start!</button>
      </p>
    </div>
    <div v-else>
      <div v-if="gameover">
        <div v-if="finalonewin">
          <h2> GAME OVER: Deck 1 wins!
            <h2/>
        </div>
        <div v-if="finaltwowin">
          <h2> GAME OVER: Deck 2 wins!
            <h2/>
        </div>
        <div v-if="finaltie">
          <h2> GAME OVER: TIE!
            <h2/>
        </div>
        <h3> Click below to start over!
          <h3/>
          <button v-on:click="startDecks">Start Over!</button>
      </div>
      <div v-else-if="loading">
        <p>Loading...</p>
      </div>
      <div v-else>
        <p>
          Click Fight to have these two cards battle!
          <br>
          <br>
          <button v-on:click="fight">Fight!</button>
          <button v-on:click="fightTen">Fight Ten Times!</button>
          <div v-if="onewin">
            <p>Card 1 killed card 2!</p>
          </div>
          <div v-if="twowin">
            <p>Card 2 killed card 1!</p>
          </div>
          <div v-if="tie">
            <p>Both cards die!</p>
          </div>
        </p>
        <hr>
        <p>
          <img v-bind:src="deck1.cards[0].image" alt="card from deck 1"> VS
          <img v-bind:src="deck2.cards[0].image" alt="card from deck 2">
          <p/>
          <p> -------- Remaining cards: {{deck1.remaining}} --------------------- Remaining cards: {{deck2.remaining}} -------- </p>
          <!--<hr>-->
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="script.js"></script>
</body>

<foot>
  <a href="https://github.com/stephenhoward330/creativeproject3">GitHub</a>
</foot>

</html>
